In [1]:
#pip install xarray

In [1]:
import xarray as xr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dset = xr.open_dataset("era5_tmax_daily_af_2-14E_4-14N.nc")
dset2 = xr.open_dataset("era5_tmin_daily_af_2-14E_4-14N.nc")
dset3 = xr.open_dataset("v2p0chirps_25_2-14E_4-14N.nc")

In [4]:
# You can convert it to a Pandas DataFrame like this
df = dset.to_dataframe().reset_index()
df2 = dset2.to_dataframe().reset_index()
df3 = dset3.to_dataframe().reset_index()

In [5]:
start_date = pd.to_datetime('1993-01-01')
end_date = pd.to_datetime('2023-10-31')

# Filter data for the specified date range
df = df[(df['time'] >= start_date) & (df['time'] <= end_date)]
df2 = df2[(df2['time'] >= start_date) & (df2['time'] <= end_date)]
df3 = df3[(df3['time'] >= start_date) & (df3['time'] <= end_date)]

In [6]:
df.head()

               time  lon    lat        tmax
31553354 1993-01-01  2.0  14.00  308.063354
31553355 1993-01-01  2.0  13.75  308.153198
31553356 1993-01-01  2.0  13.50  308.330933
31553357 1993-01-01  2.0  13.25  308.522339
31553358 1993-01-01  2.0  13.00  308.686401

In [7]:
df.shape

(22623349, 4)

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21561600 entries, 8415360 to 29976959
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   time    datetime64[ns]
 1   lon     float64
 2   lat     float64
 3   precip  float32
dtypes: datetime64[ns](1), float32(1), float64(2)
memory usage: 740.3 MB

In [9]:
df2.tail()

               time   lon   lat        tmin
54176698 2023-10-31  14.0  5.00  294.294220
54176699 2023-10-31  14.0  4.75  294.796173
54176700 2023-10-31  14.0  4.50  295.025391
54176701 2023-10-31  14.0  4.25  294.937500
54176702 2023-10-31  14.0  4.00  294.601562

In [10]:
df.to_csv('Forest_tmax.csv', index = False)
df2.to_csv('Forest_tmin.csv', index = False)
df3.to_csv('Forest_precip.csv', index = False)

# SAHEL

In [2]:
dset4 = xr.open_dataset("era5_tmax_daily_af_4-14E_10-14N.nc")
dset5 = xr.open_dataset("era5_tmin_daily_af_4-14E_10-14N.nc")
dset6 = xr.open_dataset("v2p0chirps_25_4-14E_10-14N.nc")

In [3]:
df4 = dset4.to_dataframe().reset_index()
df5 = dset5.to_dataframe().reset_index()
df6 = dset6.to_dataframe().reset_index()

In [4]:
start_date = pd.to_datetime('1993-01-01')
end_date = pd.to_datetime('2023-10-31')

# Filter data for the specified date range
df4 = df4[(df4['time'] >= start_date) & (df4['time'] <= end_date)]

start_date = pd.to_datetime('1993-01-01')
end_date = pd.to_datetime('2023-10-31')

# Filter data for the specified date range
df5 = df5[(df5['time'] >= start_date) & (df5['time'] <= end_date)]

start_date = pd.to_datetime('1993-01-01')
end_date = pd.to_datetime('2023-10-31')

# Filter data for the specified date range
df6 = df6[(df6['time'] >= start_date) & (df6['time'] <= end_date)]

In [5]:
df4.to_csv('Sahel_tmax.csv', index = False)
df5.to_csv('Sahel_tmin.csv', index = False)
df6.to_csv('Sahel_precip.csv', index = False)

# SAVANNAH

In [2]:
dset7 = xr.open_dataset("era5_tmax_daily_af_8-32E_7-43N.nc")
dset8 = xr.open_dataset("era5_tmin_daily_af_8-32E_7-43N.nc")
dset9 = xr.open_dataset("v2p0chirps_25_8-32E_7-43N.nc")

In [3]:
print(dset9)

<xarray.Dataset>
Dimensions:  (time: 15583, lon: 96, lat: 144)
Coordinates:
  * time     (time) datetime64[ns] 1981-01-01 1981-01-02 ... 2023-08-31
  * lon      (lon) float32 8.125 8.375 8.625 8.875 ... 31.12 31.38 31.62 31.88
  * lat      (lat) float32 7.125 7.375 7.625 7.875 ... 42.12 42.38 42.62 42.88
Data variables:
    precip   (time, lat, lon) float32 ...
Attributes: (12/30)
    title:                      subset of CHIRPS Version 2.0
    Conventions:                CF-1.0
    source_field:               https://climexp.knmi.nl/select.cgi?field=chir...
    cdi:                        Climate Data Interface version 2.0.6 (https:/...
    institution:                KNMI Climate Explorer and Climate Hazards Gro...
    version:                    Version 2.0
    ...                         ...
    geospatial_lon_resolution:  0.2
    time_coverage_start:        1981-01-01
    time_coverage_end:          2023-08-31
    climexp_url:                https://climexp.knmi.nl/select.cgi?chirps_20_25
    scripturl01:                http://climexp.knmi.nl/get_index.cgi?email=so...
    history:                     2023-11-10 22:43:59 ./bin/get_index CHIRPSDa...

In [ ]:
df7 = dset7.to_dataframe().reset_index()
df8 = dset8.to_dataframe().reset_index()
df9 = dset9.to_dataframe().reset_index()

In [5]:
start_date = pd.to_datetime('1993-01-01')
end_date = pd.to_datetime('2023-08-31')

# Filter data for the specified date range
df7 = df7[(df7['time'] >= start_date) & (df7['time'] <= end_date)]

# Filter data for the specified date range
df8 = df8[(df8['time'] >= start_date) & (df8['time'] <= end_date)]

# Filter data for the specified date range
df9 = df9[(df9['time'] >= start_date) & (df9['time'] <= end_date)]

In [ ]:
df7.to_csv('Savannahl_tmax.csv', index = False)
df8.to_csv('Savannah_tmin.csv', index = False)
df9.to_csv('Savannah_precip.csv', index = False)